.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 0.5%;
    margin: 1% 5% 1% 5%;
    position:fixed;

}
.fullname{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: larger;
    font-weight: bold;
}
.name{
    color: brown;
}
button{
    border-radius: 40%;
    cursor: pointer;
    padding: 0 3% 0 3%;}

.main-content{
    margin: 3% 5%;
    width: 50%;
    float: left;
}

.tick{
    padding: 0.5%;
    color: goldenrod;
}
.heading{
    font-size: xxx-large;
    font-weight: bolder;
    margin-bottom: 0.9%;
}
.main-div{
    width: 100%;
    margin-left:0.7%;
    margin-right: 1%;
    float: left;
    background-image: linear-gradient(to bottom, white, #dac9ff);
}
.girl-image{
    width: 29%; 
    display: flex;
    justify-content: end;
}
.second{
    display: flex;
align-items: flex-start;  
}
.video{
    padding-bottom: 1%;
    margin-left: 20%;
    align-items: center;
}
.para{
    margin-bottom: 5%;
}
.compimg{
    margin: 0 5% 0 5%;
    padding:1%;
    border: 2%;
}
.lower-contents{
    width:100%;
    padding:1% 5%;
    display: flex;
    flex-direction: row;
    
}
.service{
    color: goldenrod;
}
.resource{
    font-size: xx-large;
    font-weight: bold;
}
.main-lower{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding-top: 3%;
    
}
.second-lower{
    width: 19%;
}
/* .market{
    
    display: flex;
    align-items: center;
    justify-content: center;
} */
.res{
    width: 35%;
}
.next-lower{
    padding-top: 1%;
}